/*Font Types*/
  body {
    text-align: center;
}

h1{
  font-family: 'Shadows Into Light', cursive;
}

h2{
  font-family: 'Amatic SC', cursive;
 }

p{
  font-family: 'Caveat', cursive;
}
/*Dotted border*/
 h1.dotted {border-style: dotted;}
