/*Font Types*/
  body {
    text-align: center;
    background-image:url("watercolor.png");



}

h1{
  font-family: 'Nothing You Could Do', cursive;
}

h2{
  font-family: 'Amatic SC', cursive;
 }

p,div{
  font-family: 'Caveat', cursive;
}

/*border*/
 h1.double {border-style: double;}
/*friend picture*/
#friends{
  width: 400px;
  height: 341px;
}
/*about me photo formats*/
.mePicture {
  float: left;
  width:170px;
  height:170px;
}

.topNav {
  background-color: Black;
  overflow: Hidden;
}
.topNav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


  #pictureSlide {
    border: 1px black solid;
    width :100% ;
    height:440px;
    margin:auto;
    display:block;
  }

  .slide img {
    width: 600px;
    height: 422px;

  }
  .slide {
    display:none;
  }
  font-size: 17px;
}

  
