/*Font Types*/
  body {
    text-align: center;
}

h1{
  font-family: 'Shadows Into Light', cursive;
}

h2{
  font-family: 'Amatic SC', cursive;
 }

p,div{
  font-family: 'Caveat', cursive;
}

/*border*/
 h1.double {border-style: double;}
/*friend picture*/
#friends{
  width: 400px;
  height: 341px;
}
/*about me photo formats*/
.mePicture {
  float: left;
  width:170px;
  height:170px;
}
  
.topNav {
  background-color: Black;
  overflow: Hidden;
}
.topNav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
   
  
